<div class="mt-4 ml-4">
  {{#if employee}}
    <a style="color: rgb(100, 97, 97);" href="/employees/homepage">
      Trang chủ
    </a>
  {{else}}
    <a style="color: rgb(100, 97, 97);" href="/"> Trang chủ </a>
    <span>&gt;</span>
  {{/if}}

  {{! Reply }}
  {{#if employee}}
    <a style="color: rgb(100, 97, 97);" href="/employees/cart/show">
      Giỏ hàng
    </a>
  {{else}}
    <a style="color: rgb(100, 97, 97);" href="/cart/show"> Giỏ hàng </a>
  {{/if}}
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="order__detail col-12 col-sm-8 col-lg-8" style="background-color:rgb(250, 250, 251);">
  <h5 class="ml-2">Sản phẩm đã chọn</h5>
  <div class="box__orderDetail table-responsive">
    <table class="table__orderDetail table mt-4">
      <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Thành tiền</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td scope="row">
            <strong>{{this.productName}}</strong>
            <ul>
              <li>Tỉ lệ đá: {{this.icePercent}}</li>
              <li>Tỉ lệ đường: {{this.sugarPercent}}</li>
              <li>Thêm: {{this.extra}}</li>
            </ul>
          </td>
          <td>{{this.amount}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.total}}</td>
          <td>
            <a href="/cart/{{this._id}}/edit" class="btn btn-link text-dark">Chỉnh sửa</a>
            <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal" class="btn btn-link text-dark">Xóa</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Chưa có order.
            <a href="/">Thêm order</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
    <div class="pl-4 col-sm-4 mt-4" style="background-color:rgb(255, 255, 255);">
         <form class="pl-4" method="POST" action="./order" name="order__information">
          <div class="d-inline-flex">
            <label for="total" class="mr-sm-2">Tạm tính: </label>
            <input type="number" class="order__infor-detail mb-2 mr-sm-2" name="total" id="total" value="{{total}}" readonly>
          </div>
          <div class="d-inline-flex">
            <label for="discount" class="mr-sm-2">Giảm giá: </label>
            <input type="number" class="order__infor-detail mb-2 mr-sm-2" name="discount" id="discount" value="{{discount}}" readonly>
          </div>
          <div class="d-inline-flex mt-4">
            <label for="discount" class="mr-sm-2"><strong>Tổng cộng</strong> </label>
            <input type="number" class="order__infor-detail mb-2 mr-sm-2" name="totalCost" id="discount" value="{{total}}" readonly>
          </div>
          <textarea class="form-control mt-2" rows="5" style="width:280px;" name="note" id="comment" placeholder="Lời nhắn đến nhân viên" ></textarea>
           {{#if msg}}
                     <div style="width:280px;" class="alert alert-{{color}} mt-4">
                       <strong>{{msg}}</strong>
                     </div>
              {{/if}}
          <button type="submit" class="btn btn-warning product__order-button mt-4" style="background-color: #ffcc81;">Xác nhận</button>   
         </form>
       </div>
    </div>
  </div>


<!-- Modal -->
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm đã chọn</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa món này trong danh sách order?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" style="background-color: #ffcc81;">Xóa
          bỏ</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-form"></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){ var orderId; var
  deleteForm=document.forms['delete-form'];
  $('#delete-course-modal').on('show.bs.modal',function(event){ var
  button=$(event.relatedTarget); orderId=button.data('id') }); var
  btnDeleteCourse=document.getElementById("btn-delete-course");
  btnDeleteCourse.onclick=function(){
  deleteForm.action='/cart/'+orderId+'?_method=DELETE'; deleteForm.submit(); }
  }); function openNav() { document.getElementById("mySidenav").style.width
  ="250px"; } function closeNav() {
  document.getElementById("mySidenav").style.width = "0"; }
</script>