<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Include jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <!-- Include jQuery UI CSS (for styling the datepicker) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <style>
    .marginB20{
      margin-bottom: 20px;
      margin-right: 20px;
    }
    /* Sử dụng flexbox để đặt các nhóm ngang nhau */
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .btnView{
      background-color: #fff;
      height: 38px;
      width: 80px;
      border: 1px solid #ccc;
      align-items: center;
      border-radius: 5px;
    }
    .btnView:hover {
      background-color: #ffcc00; /* Màu nền mới khi hover */
    }

    .search-container {
      position: relative;
      display: inline-block;
    }

    .search-input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 300px;
      height: 40px;
    }

    .search-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .listview {
      display: none;
      position: absolute;
      z-index: 1;
      border: 1px solid #C38154;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      width: 280px;
    }

    .list-item {
      padding: 8px;
      cursor: pointer;
    }

    .list-item:hover {
      background-color:bisque; /* Màu nền khi di chuột vào */
    }
    .hv{
      text-decoration: none;
    }
    .hv:hover {
      text-decoration: underline;
    }
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  </style>
  
</head>

<body>
  
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <div class="mt-4 ml-4">
        <a class="hv" style="color: rgb(100, 97, 97);" href="/"> Trang chủ </a>
        <span>&gt;</span>
        <a class="hv" style="color: rgb(100, 97, 97);" href="/admin/orderHistory"> Lịch sử order </a>
  </div>

  <div class="container mt-4 marginB20" style="margin-left: auto; margin-right: auto; width: 50%;">
      <form  method="POST" action="/admin/getDate" id="form" name="date">
          <div class="form-group marginB20">
            <label style = "margin-top: 15px;">Chọn ngày:</label>
            <div data-target-input="nearest">
              <div >
                <input name="date" id="datepicker" width="276" />
              </div>
            </div>
          </div>
      </form>

          <div class="form-group marginB20">
            <label style = "margin-top: 15px;">Phương thức thanh toán:</label>
            <div data-target-input="nearest" >
              <div class="search-container">
                <input type="text" class="search-input">
                  <div class="search-icon" onclick="toggleListview()">&#9660;</div>
                    <div class="listview">
                      <div class="list-item" onclick="selectItem(this)">Thanh toán bằng tiền mặt</div>
                      <div class="list-item" onclick="selectItem(this)">Thanh toán qua momo</div>
                      <div class="list-item" onclick="selectItem(this)">Thanh toán qua tài khoản ngân hàng</div>
                        <!-- Thêm các mục khác nếu cần -->
                    </div>
              </div>
            </div>
          </div>

        
          <button
            class="btnView " type="submit" style = "margin-top: 24px;" form="form"> 
            <i class="fa-solid fa-eye"></i> Xem
          </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="padding-left: 30px;">ID</th>
        <th scope="col">DATE</th>
        <th scope="col">TIME</th>
        <th scope="col">ITEM</th>
        <th scope="col">VAT</th>
        <th scope="col">DISCOUNT</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">CUSTOMER</th>

      </tr>
    </thead>
    <tbody>
       {{#each orders}}
       {{#unless admin}}
          <tr>
            <th scope="row" style="padding-left: 30px;">{{this.stt}}</th>
            <td>{{this.date}}</td>
            <td>{{this.date}}</td>
            <td>{{this.item}}</td>
            <td>{{this.vat}}</td>
            <td>{{this.discount}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.customer}}</td>
          </tr>

      {{/unless}}
      
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Chưa có dữ liệu.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <script>
      function toggleListview() {
        const listview = document.querySelector('.listview');
        listview.style.display = (listview.style.display === 'block') ? 'none' : 'block';
      }

      function selectItem(item) {
        const selectedItemText = item.textContent;
        const searchInput = document.querySelector('.search-input');
        searchInput.value = selectedItemText;
        toggleListview(); // Ẩn danh sách sau khi chọn
      }

      document.addEventListener('click', function(event) {
        const listview = document.querySelector('.listview');
        const searchContainer = document.querySelector('.search-container');

        // Ẩn danh sách khi nhấp vào nơi khác ngoài ô tìm kiếm và danh sách
        if (!event.target.matches('.search-input') && !event.target.matches('.search-icon') && !event.target.matches('.list-item')) {
        listview.style.display = 'none';
        }
      });

      function openNav() { 
        document.getElementById("mySidenav").style.width ="250px"; } 
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0"; }
      function viewData() {
        // Lấy ngày từ datepicker
        var selectedDate = document.getElementById('datepicker').value;
        console.log(orders)
      }

      function compareData(data) {
        // Thực hiện so sánh hoặc xử lý dữ liệu ở đây
        // Ví dụ: In dữ liệu
        console.log(data);
      }

      function displayData(data) {
        // Xóa dữ liệu cũ trên bảng
        var tableBody = document.querySelector('.table tbody');
        tableBody.innerHTML = '';

        // Hiển thị dữ liệu mới
        if (data.length > 0) {
          data.forEach(order => {
            // Tạo hàng mới và thêm vào bảng
            var row = tableBody.insertRow();
            var cellID = row.insertCell(0);
            var cellDate = row.insertCell(1);
            var cellTime = row.insertCell(2);
            // Thêm các ô khác tương ứng

            cellID.textContent = order.stt;
            cellDate.textContent = order.date;
            cellTime.textContent = order.time;
            // Thêm các ô khác tương ứng
          });
        } else {
          // Hiển thị thông báo khi không có dữ liệu
          var row = tableBody.insertRow();
          var cell = row.insertCell(0);
          cell.textContent = 'Chưa có dữ liệu.';
          cell.colSpan = 8; // Số lượng cột trong bảng
        }
}



  </script>

  <script>
      $('#datepicker').datepicker({
              uiLibrary: 'bootstrap5',
              format: 'dd/mm/yyyy'
          });

      $("#datepicker").on("change", function() { 
        let pickedDate = $("input").val(); 
          console.log(pickedDate);
          }); 
  </script>



</body>

</html>
