<nav
  class="body__navbar mt-3 navbar navbar-light bg-light justify-content-between"
>
  <div id="mySidenav" class="sidenav">
    <a
      href="javascript:void(0)"
      class="closebtn"
      onclick="closeNav()"
    >&times;</a>
    <a href="#">Trang chủ</a>
    <a href="#">Góp ý cửa hàng</a>
    <a href="#">Admin</a>
  </div>
  <div>
    <span
      style="font-size:30px; cursor:pointer"
      class="ml-5"
      onclick="openNav()"
    >&#9776;</span>
    <a class="navbar-brand ml-3"><span class="home__nav-title">My Coffee</span></a>
  </div>
</nav>


<div class="container ">
    <h3 class="ml-5">Danh sách nhân viên</h3>
    <div type="button" class="btn btn-secondary mb-4" style="float: right;"><a href="/employees/create" class="text-light"><i class="fa-solid fa-user-plus mr-4"></i>Thêm mới</a></div>
    <table class="table mt-4 ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each employees}}
      {{#unless admin}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.sdt}}</td>
          <td>{{this.username}}</td>
          <td>{{this.password}}</td>
          <td>
            <a href="/employees/{{this._id}}/edit" class="btn btn-link text-dark"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"class="btn btn-link text-dark"><i class="fa-solid fa-user-xmark"></i></a>
          </td>
        </tr>
        {{/unless}}
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Chưa có nhân viên.
            <a href="">Thêm nhân viên</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
   
</div>

<!-- Modal -->
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa nhân viên này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa
          bỏ</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-form"></form>

<script>
    document.addEventListener('DOMContentLoaded',function(){ 
      
      var employeeId; 
      var deleteForm=document.forms['delete-form'];
         $('#delete-course-modal').on('show.bs.modal',function(event){ 
             var button=$(event.relatedTarget); 
             employeeId=button.data('id') 
       }); 
       var btnDeleteCourse=document.getElementById("btn-delete-course");
       btnDeleteCourse.onclick=function(){
         deleteForm.action='/employees/'+employeeId+'?_method=DELETE'; 
         deleteForm.submit();
      } 
    });

    function openNav() { 
        document.getElementById("mySidenav").style.width ="250px"; } 
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0"; }
</script>